# Composer
composer.lock
composer.phar

# Twig
vendor/twig/twig/doc/*
vendor/twig/twig/ext/*
vendor/twig/twig/test/*

# OS Generated
.DS_Store*
ehthumbs.db
Thumbs.db
*.swp

# User themes
!themes/index.html
themes/default/

#Vagrant
.vagrant/
html/
default/

# Grunt
node_modules/

# Bower
bower_components/

# Misc
images\ alias
